<style>
  body {
      background-image: url('/Users/kayla/Library/Mobile Documents/com~apple~CloudDocs/Pluralsight 2024/This_Shop_Rocks/This-Shop-Rocks/:images.html/Backgroundimage.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* This makes the background image fixed */
      background-position: center; /* This moves the background image to center */  
  }
  </style>