.productback {
  background-image: url(images/BackgroundImage.jpeg);
  background-size: cover;
}
cq 

/*Nav Begins*/
.navbar {
  background-color: #d9ccb9;
  height: 80px;
  padding: 1.5rem;
}

.navbar-brand {
  /*this is my ilumi title*/
  font-weight: 500;
  color: white;
  font-size: 25px;
  transition: 0.3s color;
}

.navbar-brand:hover {
  /*this is my ilumi title when you hover over it*/
  font-weight: 500;
  color: #b34b0e;
  font-size: 25px;
  transition: 0.3s color;
}

.login-button {
  /*this is my login button */
  background-color: #ca5b0b;
  color: white;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  /*this is my login button hover */
  background-color: #b34b0e;
  color: White;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #df7e23; /*this changed the color of my home, products and register*/
  font-weight: 500; /*this make my font thicker*/
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #b34b0e;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #39223a;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.nav-item {
  margin: 2%;
}

.theme-shadow {
  box-shadow: 0px 0px 2.2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.shopping {
  fill: white;
  margin: 0.5%;
}

.shopping:hover {
  fill: #d98620;
}

/*Nav Ends*/

body {
  /* background-image: url(images/BackgroundImage.jpeg);
     background-size: cover; */
  font-family: "Poppins", sans-serif;
}








ul li {
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
  text-align: center;
  color: #615062;
}
/* Balloon Services Begin */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: #615062;
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #cda8c7;
  color: white;
  font-size: 34px;
  flex: none;
  border-radius: 80px;
}

.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background-color: #cbb9d9;
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: #615062;
  color: white;
}

/* Balloon Service Ends */

#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
}

.messagebutton {
  background-color: #cbb9d9;
  color: #562f05;
}

.messagebutton:hover {
  background-color: #b34b0e;
  color: #cbb9d9;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: #db99bf;
  border-width: 4px;
}

.card-body {
  background-color: #b34b0e;
}

.card-text {
  color: lightgrey;
  letter-spacing: 1.5px;
}

#signup .form-control:focus {
  box-shadow: none;
  border-color: #b34b0e;
  border-width: 4px;
}

#signup2 {
  background-color: #e78b14;
}

.registerbut {
  background-color: #e78b14;
  color: #f6e9ff !important;
}

.registerbut:hover {
  background-color: #b34b0e;
  color: #e78b14 !important;
}

#checkoutpage1 .form-control:focus {
  box-shadow: none;
  border-color: #da8b2a;
  border-width: 4px;
}

.checkoutcol {
  color: #e09512;
}
.checkoutbutt {
  background-color: #b34b0e;
}

#login1 .form-control:focus {
  box-shadow: none;
  border-color: #b34b0e;
  border-width: 4px;
}

.loginbutton1 {
  background-color: #82747c;
  color: #39223a;
}

.loginbutton1:hover {
  background-color: #b34b0e;
  color: #82747c;
}

.bday {
  color: rgb(1, 146, 1);
}

.bbsh {
  color: #a74b80;
}

.gradrad {
  color: #375581;
}

.genrev {
  color: rgb(92, 39, 153);
}

.wedd {
  color: #832424;
}

.mmmor {
  color: #056e66;
}
