body {
    background-image: url('/Users/kayla/Library/Mobile Documents/com~apple~CloudDocs/This-Shop-Rocks/images/Background Image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
